<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/students/{id}/marks(id=${student.getId()})}" th:object="${subject}">
    <label for="name">Discipline name: </label>
    <input type="text" th:field="*{name}" id="name"/> <br/>
    <label for="mark">Discipline grade: </label>
    <input type="text" th:field="*{mark}" id="mark"/> <br/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>