<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/students/{id}(id=${student.getId()})}" th:object="${student}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>
    <label for="patronymic">Enter patronymic: </label>
    <input type="text" th:field="*{patronymic}" id="patronymic"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <!--fix-show selected-->
    <label for="facultyId">Enter faculty: </label>
    <select size="1" th:field="*{facultyId}">
        <option th:each="faculty : ${faculties}"
                th:value="${faculty.id}"
                th:utext="${faculty.shortName}"/>
    </select>
    <br/>
    <label for="groupId">Enter group: </label>
    <!--fix-show selected-->
    <select th:field="*{groupId}">
        <option th:each="group : ${groups}"
                th:value="${group.id}"
                th:utext="${group.groupCode}"/>
    </select>
    <br/>
    <label for="course">Enter course: </label>
    <input type="text" th:field="*{course}" id="course"/>
    <br/>
    <input type="submit" value="Update student"/>
</form>

<form th:method="DELETE" th:action="@{/students/{id}(id=${student.getId()})}">
    <input type="submit" value="Delete student">
</form>
<form th:method="GET" th:action="@{/students}">
    <input type="submit" value="All students">
</form>
</body>
</html>