
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        input {
            padding-bottom: 5px;
            max-width: 300px;
        }

        select {
            padding-bottom: 5px;
            max-width: 100px;
        }

        .form_ {
            margin: 15px 0 0 15px;
        }

        label {
            display: block;
            float: left;
            width: 150px;
        }

    </style>
</head>
<body>

<div th:insert="templates/header :: copy"></div>


<form class="form_" th:method="PATCH" th:action="@{/students/{id}(id=${student.getId()})}" th:object="${student}">
    <div class="mb-3">
        <label for="name" class="form-label">Enter name: </label>
        <input type="text" th:field="*{name}" id="name" class="form-control" required minlength="2" maxlength="15"/>
    </div>

    <div class="mb-3">
        <label for="surname" class="form-label">Enter surname: </label>
        <input type="text" th:field="*{surname}" id="surname" class="form-control" required minlength="2" maxlength="15"/>
    </div>

    <div class="mb-3">
        <label for="patronymic" class="form-label">Enter patronymic: </label>
        <input type="text" th:field="*{patronymic}" id="patronymic" class="form-control" required minlength="2" maxlength="20"/>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Enter email: </label>
        <input type="email" th:field="*{email}" id="email" class="form-control" size="30" required /> <!--fix-->
    </div>

    <div class="mb-3">
        <!--fix-show selected-->
        <label for="facultyId" class="form-label">Enter faculty: </label>
        <select class="form-select" aria-label="Default select example" size="1" th:field="*{facultyId}">
            <option th:each="faculty : ${faculties}"
                    th:value="${faculty.id}"
                    th:utext="${faculty.shortName}"/>
        </select>
    </div>
    <div class="mb-3">
        <!--fix-show selected-->
        <label for="groupId" class="form-label">Enter group: </label>
        <select class="form-select" aria-label="Default select example" th:field="*{groupId}">
            <option th:each="group : ${groups}"
                    th:value="${group.id}"
                    th:utext="${group.groupCode}"/>
        </select>
    </div>
    <div class="mb-3">
        <label for="course" class="form-label">Enter course: </label>
        <input class="form-control" type="number" th:field="*{course}" id="course" min="1" max="6"/>
    </div>
    <button type="submit" class="btn btn-primary">Update student</button>
</form>

<form class="form_" th:method="DELETE" th:action="@{/students/{id}(id=${student.getId()})}">
    <button type="submit" class="btn btn-outline-danger">Delete student</button>
</form>

</body>
</html>