<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Group</title>
</head>
<body>

<p th:text="${'Name: ' + student.getName()}">NAME</p>
<p th:text="${'Surname: ' + student.getSurname()}">SURNAME</p> <!--Surname!!!!!-->
<p th:text="${'Patronymic: ' + student.getPatronymic()}">PATRONYMIC</p>
<p th:text="${'Group: ' + student.getGroup()}">GROUP</p>

<table border="1">
    <tr th:each="subject : ${student.getSubjects()}">
        <td th:text="${subject.getName()}">Value</td>
        <td th:text="${subject.getMark()}">Value</td>
        <td><a th:href="@{/students/{id}/marks/edit/{subject}(id=${student.getId()},subject=${subject.getName()})}">Edit</a></td>
        <td>
            <!--update
            <form th:method="DELETE" th:action="@{/students/{id}/marks(id=${student.getId()})}">
                <input type="submit" value="Delete">
            </form>-->
            <form th:method="GET" th:action="@{/students/{id}/marks/{subject}/delete(id=${student.getId()},subject=${subject.getName()})}" >
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>

<form th:method="GET" th:action="@{/students/{id}/marks/new(id=${student.getId()})}">
    <input type="submit" value="Add new mark">
</form>

<form th:method="GET" th:action="@{/students}">
    <input type="submit" value="Home">
</form>
</body>
</html>