<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<p th:text="${'Name: ' + student.getName()}">NAME</p>
<p th:text="${'Surname: ' + student.getSurname()}">SURNAME</p>
<p th:text="${'Patronymic: ' + student.getPatronymic()}">PATRONYMIC</p>

<form th:method="GET" th:action="@{/students/{id}/marks(id=${student.getId()})}">
    <input type="submit" value="Marks">
</form>

<form sec:authorize="hasAuthority('users:read')" th:method="GET" th:action="@{/students/{id}/settings(id=${student.getId()})}">
    <input type="submit" value="Settings">
</form>

<form sec:authorize="hasAuthority('users:read')" th:method="GET" th:action="@{/students/{id}/group(id=${student.getId()})}">
    <input type="submit" value="Group">
</form>

<form sec:authorize="hasAuthority('users:write')" th:method="GET" th:action="@{/students/{id}/edit(id=${student.getId()})}">
    <input type="submit" value="Update student">
</form>

<form sec:authorize="hasAuthority('users:write')" th:method="GET" th:action="@{/students}">
    <input type="submit" value="All students">
</form>

<form sec:authorize="hasAuthority('users:read')" action="/auth/logout" method="POST">
    <button type="submit">Logout</button>
</form>
</body>
</html>
