<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/groups/{id}(id=${group.getId()})}" th:object="${group}">
    <label for="id">ID: </label>
    <input type="text" th:field="*{id}" id="id" readonly/> <br/>
    <label for="groupCode">Enter group code: </label>
    <input type="text" th:field="*{groupCode}" id="groupCode"/>
    <br/>
    <label for="fullName">Enter full name: </label>
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <br/>
    <label for="facultyId">Enter faculty: </label>
    <select size="1" th:field="*{facultyId}">
        <option th:each="faculty : ${faculties}"
                th:value="${faculty.id}"
                th:utext="${faculty.shortName}"/>
    </select>
    <br/>
    <input type="submit" value="Update group"/>
</form>

<form th:method="DELETE" th:action="@{/groups/{id}(id=${group.getId()})}">
    <input type="submit" value="Delete group">
</form>

<form th:method="GET" th:action="@{/groups}">
    <input type="submit" value="All groups">
</form>
</body>
</html>