<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <style>
    input {
      padding-bottom: 5px;
      max-width: 250px;
    }

    select {
      padding-bottom: 5px;
      max-width: 100px;
    }

    .form_ {
      margin: 15px 0 0 15px;
    }

    label {
      display: block;
      float: left;
      width: 150px;
    }
  </style>
</head>
<body>

<div th:insert="templates/header :: copy"></div>

<form class="form_" th:method="POST" th:action="@{/groups}" th:object="${group}">
  <div class="mb-3">
    <label for="groupCode" class="form-label">Enter group code: </label>
    <input type="text" th:field="*{groupCode}" id="groupCode" class="form-control" required minlength="2" maxlength="10"/>
  </div>
  <div class="mb-3">
    <label for="fullName" class="form-label">Enter full name: </label>
    <input type="text" th:field="*{fullName}" id="fullName" class="form-control" required minlength="2" maxlength="20"/>
  </div>
  <div class="mb-3">
    <label for="facultyId" class="form-label">Enter faculty: </label>
    <select class="form-select" aria-label="Default select example" size="1" th:field="*{facultyId}">
      <option th:each="faculty : ${faculties}"
              th:value="${faculty.id}"
              th:utext="${faculty.shortName}"/>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Update group</button>
</form>

<form class="form_" th:method="GET" th:action="@{/groups}">
  <button type="submit" class="btn btn-outline-secondary">All groups</button>
</form>
</body>
</html>