<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/groups}" th:object="${group}">
  <label for="groupCode">Enter group code: </label>
  <input type="text" th:field="*{groupCode}" id="groupCode" required minlength="2" maxlength="10"/>
  <br/>
  <label for="fullName">Enter full name: </label>
  <input type="text" th:field="*{fullName}" id="fullName" required minlength="2" maxlength="20"/>
  <br/>
  <label for="facultyId">Enter faculty: </label>
  <select size="1" th:field="*{facultyId}">
    <option th:each="faculty : ${faculties}"
            th:value="${faculty.id}"
            th:utext="${faculty.shortName}"/>
  </select>
  <br/>
  <input type="submit" value="Create group"/>
</form>

<form th:method="GET" th:action="@{/groups}">
  <input type="submit" value="All groups">
</form>
</body>
</html>