<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/students/{id}/marks(id=${student.getId()})}" th:object="${subject}">
    <label for="id">Select discipline: </label>
    <select size="1" th:field="*{id}">
        <option th:each="subject : ${subjects}"
                th:value="${subject.id}"
                th:utext="${subject.name}"/>
    </select>
    <br/>

    <label for="mark">Discipline grade: </label>
    <input type="text" th:field="*{mark}" id="mark"/> <br/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
<form sec:authorize="hasAuthority('users:write')" th:method="GET" th:action="@{/students/{id}(id=${student.getId()})}">
    <input type="submit" value="Main">
</form>
</body>
</html>