<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/disciplines/{id}(id=${discipline.getId()})}" th:object="${discipline}">
    <label for="id">ID: </label>
    <input type="text" th:field="*{id}" id="id" readonly/> <br/>
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name" required minlength="5" maxlength="30"/>
    <br/>
    <label for="hours">Enter hours: </label>
    <input type="number" th:field="*{hours}" id="hours" min="1" max="100"/>
    <br/>
    <input type="submit" value="Update discipline"/>
</form>

<form th:method="DELETE" th:action="@{/disciplines/{id}(id=${discipline.getId()})}">
    <input type="submit" value="Delete discipline">
</form>

<form th:method="GET" th:action="@{/disciplines}">
    <input type="submit" value="All disciplines">
</form>
</body>
</html>