<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2></h2>

<!--<form action="/students">
    <input type="submit" value="Students">
</form>

<form action="/disciplines">
    <input type="submit" value="Disciplines">
</form>

<form action="/groups">
    <input type="submit" value="Groups">
</form>

<form action="/faculties">
    <input type="submit" value="Faculties">
</form>

<form action="/auth/logout" method="POST">
    <button type="submit">Logout</button>
</form>-->
</body>
</html>
